<header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="contact_link-container">
          <a href="" class="contact_link1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>
            Alameda Araguaia, 3628 - Tamboré, Barueri - SP
            </span>
          </a>
          <a href="" class="contact_link2">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Contato +55 11 99226-1100
            </span>
          </a>
          <a href="" class="contact_link3">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              beautyalphaglam@gmail.com
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              AlphaGlam Beauty
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Início <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> Quem somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html"> Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="guard.html"> Profissionais </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact2.html">Cadastre-se</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>